Repository Kurichi/plesio-monorepo, pull requests merged in 2023-12, with the labels that each got.

#1 add(tree): initialize
  services/bff/.gitkeep
  services/cloudbuild.yaml
  services/item/.gitkeep
  services/mission/.gitkeep
  services/tree/.dockerignore
  services/tree/Dockerfile
  services/tree/cmd/main.go
  services/tree/go.mod
  services/tree/go.sum
Labels: tree

#22 add: docker compose
  services/.env.sample
  services/compose.yaml
Labels: server

#23 Refactor/move manifest
  infra/manifest/bff.yaml
  infra/manifest/cloudbuild.yaml
  infra/manifest/service.yaml
  infra/manifest/tree.yaml
  services/Makefile
  services/README.md
  services/bff/cmd/main.go
  services/bff/go.mod
  services/bff/go.sum
  services/bff/manifest.yaml
  services/bff/pkg/config/config.go
  services/bff/pkg/grpc/tree.pb.go
  services/bff/pkg/grpc/tree_grpc.pb.go
  services/tree/cmd/main.go
  services/tree/go.mod
  services/tree/go.sum
  services/tree/manifest.yaml
  services/tree/pkg/config/config.go
  services/tree/pkg/grpc/tree.pb.go
  services/tree/pkg/grpc/tree_grpc.pb.go
  services/tree/schema/tree.proto
Labels: tree, infrastructure, server, bff

#35 add(user): grpc schema
  services/user/pkg/grpc/user.pb.go
  services/user/pkg/grpc/user_grpc.pb.go
  services/user/schema/user.proto
Labels: server, user

#36 Chore/change project settings
  services/.env.sample
  services/compose.yaml
Labels: server

#37 Chore/proto generate setting
  services/item/Makefile
  services/mission/Makefile
  services/mission/go.mod
  services/mission/go.sum
  services/mission/pkg/grpc/mission.pb.go
  services/mission/pkg/grpc/mission_grpc.pb.go
  services/mission/schema/mission.proto
  services/tree/Makefile
  services/user/Makefile
Labels: tree, server, mission, item, user

#38 feature: mission-related API implementation
  services/.vscode/settings.json
  services/mission/application/dto.go
  services/mission/application/mission_usecase.go
  services/mission/application/usecase.go
  services/mission/cmd/migrate.go
  services/mission/domain/entity.go
  services/mission/domain/repository.go
  services/mission/domain/service.go
  services/mission/domain/value.go
  services/mission/infra/mission_repository_impl.go
  services/mission/infra/model.go
  services/mission/pkg/config/config.go
  services/mission/pkg/database/conn.go
  services/mission/pkg/database/transaction.go
Labels: server, mission

#44 Notchy/impl-datasource
  mobile/lib/data/datasource/item_datasource.dart
  mobile/lib/data/datasource/mission_datasource.dart
  mobile/lib/data/datasource/tree_datasource.dart
  mobile/lib/data/datasource/user_datasource.dart
  mobile/lib/data/model/item_model.dart
  mobile/lib/data/model/item_model.freezed.dart
  mobile/lib/data/model/item_model.g.dart
  mobile/lib/data/model/mission_model.dart
  mobile/lib/data/model/mission_model.freezed.dart
  mobile/lib/data/model/mission_model.g.dart
  mobile/lib/data/model/tree_model.dart
  mobile/lib/data/model/tree_model.freezed.dart
  mobile/lib/data/model/tree_model.g.dart
  mobile/lib/data/model/user_model.dart
  mobile/lib/data/model/user_model.freezed.dart
  mobile/lib/data/model/user_model.g.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#45 Feature/item/get inv & use item
  services/item/adapter/grpc/item.go
  services/item/application/dto.go
  services/item/application/item_usecase.go
  services/item/application/usecase.go
  services/item/cmd/main.go
  services/item/domain/entity.go
  services/item/domain/repository.go
  services/item/domain/service.go
  services/item/domain/value.go
  services/item/infra/inventory_repository_impl.go
  services/item/infra/item_repository_impl.go
  services/item/infra/migrate.go
  services/item/infra/model.go
  services/item/migration/main.go
  services/item/pkg/grpc/item.pb.go
  services/item/pkg/grpc/item_grpc.pb.go
  services/item/register/wire.go
  services/item/register/wire_gen.go
  services/item/schema/item.proto
Labels: server, item

#46 add: treeのサービスの作成
  services/tree/Makefile
  services/tree/adapter/api/tree_handler.go
  services/tree/adapter/pubsub/subscriber.go
  services/tree/application/dto.go
  services/tree/application/tree_usecase.go
  services/tree/application/usecase.go
  services/tree/cmd/main.go
  services/tree/domain/entity.go
  services/tree/domain/repository.go
  services/tree/domain/value.go
  services/tree/go.mod
  services/tree/go.sum
  services/tree/infra/model.go
  services/tree/infra/tree_repository_impl.go
  services/tree/migration/migration.go
  services/tree/pkg/config/config.go
  services/tree/pkg/database/conn.go
  services/tree/pkg/database/transaction.go
  services/tree/pkg/grpc/tree.pb.go
  services/tree/pkg/grpc/tree_grpc.pb.go
  services/tree/register/wire.go
  services/tree/register/wire_gen.go
  services/tree/schema/tree.proto
  services/tree/usecase/dto.go
  services/tree/usecase/tree_usecase.go
  services/tree/usecase/usecase.go
Labels: tree, server

#49 update: アイテムでのtree成長のusecase追加
  services/tree/application/dto.go
  services/tree/application/tree_usecase.go
  services/tree/application/usecase.go
  services/tree/domain/entity.go
  services/tree/domain/value.go
Labels: tree, server

#51 Feature/bff/trees api
  services/.gitignore
  services/.vscode/settings.json
  services/bff/cmd/main.go
  services/bff/go.mod
  services/bff/go.sum
  services/bff/handler/item/handler.go
  services/bff/handler/item/schema.go
  services/bff/handler/tree/handler.go
  services/bff/handler/tree/schema.go
  services/bff/handler/user/handler.go
  services/bff/handler/user/schema.go
  services/bff/middleware/token_verification.go
  services/bff/pkg/config/config.go
  services/bff/pkg/firebase/initFirebaseApp.go
  services/bff/register/register.go
  services/bff/register/wire.go
  services/bff/register/wire_gen.go
  services/bff/router/item.go
  services/bff/router/tree.go
  services/bff/router/user.go
  services/compose.yaml
Labels: server, bff

#52 Notchy/introduce-di
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  mobile/.env.sample
  mobile/lib/data/datasource/mission_datasource.dart
  mobile/lib/data/datasource/tree_datasource.dart
  mobile/lib/data/model/item_model.dart
  mobile/lib/data/model/mission_model.dart
  mobile/lib/data/model/mission_model.freezed.dart
  mobile/lib/data/model/mission_model.g.dart
  mobile/lib/data/model/tree_model.dart
  mobile/lib/data/model/user_model.dart
  mobile/lib/data/repository/item_repository_impl.dart
  mobile/lib/data/repository/mission_repository_impl.dart
  mobile/lib/data/repository/tree_repository_impl.dart
  mobile/lib/data/repository/user_repository_impl.dart
  mobile/lib/main.dart
  mobile/lib/provider/datasource/item_datasource_provider.dart
  mobile/lib/provider/datasource/item_datasource_provider.g.dart
  mobile/lib/provider/datasource/mission_datasource_provider.dart
  mobile/lib/provider/datasource/mission_datasource_provider.g.dart
  mobile/lib/provider/datasource/tree_datasource_provider.dart
  mobile/lib/provider/datasource/tree_datasource_provider.g.dart
  mobile/lib/provider/datasource/user_datasource_provider.dart
  mobile/lib/provider/datasource/user_datasource_provider.g.dart
  mobile/lib/provider/repository/item_repository_provider.dart
  mobile/lib/provider/repository/item_repository_provider.g.dart
  mobile/lib/provider/repository/mission_repository_provider.dart
  mobile/lib/provider/repository/mission_repository_provider.g.dart
  mobile/lib/provider/repository/tree_repository_provider.dart
  mobile/lib/provider/repository/tree_repository_provider.g.dart
  mobile/lib/provider/repository/user_repository_provider.dart
  mobile/lib/provider/repository/user_repository_provider.g.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#53 Notchy/update-workflows
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  mobile/pubspec.yaml
Labels: mobile

#56 ミッションの作成
  services/mission/Makefile
  services/mission/adapter/api/mission_handler.go
  services/mission/application/dto.go
  services/mission/application/mission_usecase.go
  services/mission/application/usecase.go
  services/mission/domain/entity.go
  services/mission/domain/repository.go
  services/mission/domain/service.go
  services/mission/go.sum
  services/mission/infra/mission_repository_impl.go
  services/mission/infra/model.go
  services/mission/migration/migration.go
  services/mission/pkg/database/transaction.go
  services/mission/pkg/grpc/mission.pb.go
  services/mission/pkg/grpc/mission_grpc.pb.go
  services/mission/register/register.go
  services/mission/register/wire.go
  services/mission/register/wire_gen.go
  services/mission/schema/mission.proto
Labels: server, mission

#57 Feature/user/user endpoint
  services/compose.yaml
  services/user/Makefile
  services/user/adapter/api/user_handler.go
  services/user/application/dto.go
  services/user/application/tree_usecase.go
  services/user/application/usecase.go
  services/user/cmd/main.go
  services/user/domain/entity.go
  services/user/domain/repository.go
  services/user/go.mod
  services/user/go.sum
  services/user/infra/identity_repository_impl.go
  services/user/infra/model.go
  services/user/infra/user_repository_impl.go
  services/user/migration/migration.go
  services/user/pkg/config/config.go
  services/user/pkg/database/conn.go
  services/user/pkg/database/transaction.go
  services/user/pkg/firebase/initFirebaseApp.go
  services/user/pkg/grpc/user.pb.go
  services/user/pkg/grpc/user_grpc.pb.go
  services/user/register/register.go
  services/user/register/wire.go
  services/user/register/wire_gen.go
  services/user/schema/user.proto
Labels: server, user

#58 item作成grpcの作成
  services/item/adapter/grpc/item.go
  services/item/application/item_usecase.go
  services/item/application/usecase.go
  services/item/cmd/main.go
  services/item/domain/repository.go
  services/item/domain/value.go
  services/item/infra/inventory_repository_impl.go
  services/item/infra/item_repository_impl.go
  services/item/migration/main.go
  services/item/pkg/grpc/item.pb.go
  services/item/pkg/grpc/item_grpc.pb.go
  services/item/schema/item.proto
Labels: server, item

#64 ミッション作成grpcの作成
  services/mission/adapter/api/mission_handler.go
  services/mission/application/dto.go
  services/mission/application/mission_usecase.go
  services/mission/application/usecase.go
  services/mission/go.mod
  services/mission/go.sum
  services/mission/pkg/grpc/mission.pb.go
  services/mission/pkg/grpc/mission_grpc.pb.go
  services/mission/schema/mission.proto
Labels: server, mission

#67 feature: regenarate
  services/item/pkg/grpc/item.pb.go
  services/item/pkg/grpc/item_grpc.pb.go
Labels: server, item

#70 Notchy/ui-architecture
  mobile/lib/main.dart
  mobile/lib/presentation/designsystem/component/dot/brown_dot.dart
  mobile/lib/presentation/designsystem/component/dot/green_dot.dart
  mobile/lib/presentation/designsystem/component/kiikuten_avatar.dart
  mobile/lib/presentation/designsystem/component/tree/kiikuten_seed.dart
  mobile/lib/presentation/designsystem/component/tree/kiikuten_tree.dart
  mobile/lib/presentation/designsystem/style/color.dart
  mobile/lib/presentation/designsystem/style/color_scheme.dart
  mobile/lib/presentation/designsystem/style/theme.dart
  mobile/lib/presentation/page/auth/auth.dart
  mobile/lib/presentation/page/auth/loading.dart
  mobile/lib/presentation/page/auth/signin.dart
  mobile/lib/presentation/page/home/component/item.dart
  mobile/lib/presentation/page/home/home.dart
  mobile/lib/presentation/page/home/section/drawer.dart
  mobile/lib/presentation/page/home/section/item_container.dart
  mobile/lib/presentation/page/settings/component/setting_column.dart
  mobile/lib/presentation/page/settings/component/setting_item.dart
  mobile/lib/presentation/page/settings/component/setting_title.dart
  mobile/lib/presentation/page/settings/settings_screen.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/widget_test.dart
Labels: mobile

#76 add: ミッション作成エンドポイントの作成
  services/bff/docs/docs.go
  services/bff/docs/swagger.json
  services/bff/docs/swagger.yaml
  services/bff/go.mod
  services/bff/go.sum
  services/bff/handler/mission/handler.go
  services/bff/handler/mission/schema.go
  services/bff/router/mission.go
Labels: server, bff

#77 アイテム作成のエンドポイント作成
  services/bff/docs/docs.go
  services/bff/docs/swagger.json
  services/bff/docs/swagger.yaml
  services/bff/handler/item/handler.go
  services/bff/handler/item/schema.go
  services/bff/handler/mission/handler.go
  services/bff/middleware/token_verification.go
  services/bff/router/item.go
Labels: server, bff

#78 Notchy/ui-connect
  mobile/lib/data/datasource/item_datasource.dart
  mobile/lib/data/datasource/mission_datasource.dart
  mobile/lib/data/datasource/tree_datasource.dart
  mobile/lib/data/datasource/user_datasource.dart
  mobile/lib/data/model/tree_ranking_model.dart
  mobile/lib/data/model/tree_ranking_model.freezed.dart
  mobile/lib/data/model/tree_ranking_model.g.dart
  mobile/lib/data/repository/github_action_repository_impl.dart
  mobile/lib/data/repository/item_repository_impl.dart
  mobile/lib/data/repository/mission_repository_impl.dart
  mobile/lib/data/repository/tree_repository_impl.dart
  mobile/lib/data/repository/user_repository_impl.dart
  mobile/lib/domain/entity/tree_ranking.dart
  mobile/lib/domain/repository/github_action_repository.dart
  mobile/lib/domain/repository/item_repository.dart
  mobile/lib/domain/repository/mission_repository.dart
  mobile/lib/domain/repository/tree_repository.dart
  mobile/lib/domain/repository/user_repository.dart
  mobile/lib/domain/usecase/complete_mission_usecase.dart
  mobile/lib/domain/usecase/detect_github_action_usecase.dart
  mobile/lib/domain/usecase/get_items_usecase.dart
  mobile/lib/domain/usecase/get_items_usecase.g.dart
  mobile/lib/domain/usecase/get_missions_usecase.dart
  mobile/lib/domain/usecase/get_missions_usecase.g.dart
  mobile/lib/domain/usecase/get_my_tree_usecase.dart
  mobile/lib/domain/usecase/get_my_tree_usecase.g.dart
  mobile/lib/domain/usecase/get_tree_by_user_id_usecase.dart
  mobile/lib/domain/usecase/get_tree_by_user_id_usecase.g.dart
  mobile/lib/domain/usecase/get_tree_ranking_usecase.dart
  mobile/lib/domain/usecase/get_tree_ranking_usecase.g.dart
  mobile/lib/domain/usecase/init_tree_usecase.dart
  mobile/lib/domain/usecase/init_tree_usecase.g.dart
  mobile/lib/domain/usecase/plant_tree_usecase.dart
  mobile/lib/domain/usecase/plant_tree_usecase.g.dart
  mobile/lib/domain/usecase/progress_mission_usecase.dart
  mobile/lib/domain/usecase/progress_mission_usecase.g.dart
  mobile/lib/domain/usecase/use_item_usecase.dart
  mobile/lib/domain/usecase/use_item_usecase.g.dart
  mobile/lib/presentation/page/auth/signin.dart
  mobile/lib/presentation/page/home/component/item_component.dart
  mobile/lib/presentation/page/home/home.dart
  mobile/lib/presentation/page/home/section/item_container.dart
Labels: mobile
